@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-black ;
  }
}

@layer components {
  .btn-primary {
    @apply px-4 py-3 font-semibold text-white transition-colors duration-200 rounded-lg shadow-lg bg-primary-600 hover:bg-primary-700 hover:shadow-xl;
  }
  
  .btn-secondary {
  @apply text-black border border-black;
}


  
  .card {
  @apply p-6 border border-black rounded-lg shadow-lg;
}

  
  .input-field {
    @apply w-full px-4 py-3 text-black placeholder-gray-400 border-2 border-black rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-600 focus:border-primary-600;
  }
}

